@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

:root {
  --accent-color: #aa3bff;
  --accent-dark-color: #8a00ff;
  --on-accent-color: #fff;
  --accent-background-color: #e8d6f7;
  --background-color: #f3ecec;
  --text-color: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: "Google Sans", sans-serif;
  --heading: "Google Sans", sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-md: 16px;
  --font-size-lg: 22px;
  --font-size-xl: 30px;

  --font-weight-sm: 300;
  --font-weight-md: 500;
  --font-weight-lg: 700;

  --transitions-duration-sm: 0.1s;
  --transitions-duration-md: 0.3s;
  --transitions-duration-lg: 0.7s;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow: rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: var(--sans);
}
